/* General styles */
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialised;
}

body {
    margin-top: 5em;
    font: 20px/1.5 "Helvetica", Arial, sans-serif;
}

.container {
    position: relative;
    width: 100%;	
	overflow: hidden; /* flex list로 요소를 두면 가로 스크롤이 생기니까 */
}

.slider-container {
    position: absolute; /* container를 기준으로 위치조정 */
	width:100%; /* 너비도 container 100%d인게지 */
}

.slide {
	position: absolute;
	width: 100%; /* 그 안에서 다시 100% */
	padding:0 10%; /* 페딩을 조금 주는데 width 100%에 padding 을 주면 사이즈가 커지므로 */
	box-sizing:border-box; /* 를 주어서 커지지 않게 제어 */
	top: 50%; /* 슬라이드 안에 내용이 길든 짧든 센터에 위치시키기위해 */
	transform: translateY(-50%);
	text-align: center;
	overflow: hidden;
}

.slider-container.animated {
	-webkit-transition: left .3s ease-in; /* legt값이 바뀌는 걸 0.3초의 속도로 초반이 드린 속도의 모델로 보여줌 */
	transition: left .3s ease-in;
}

blockquote {
    color: #636363;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 1.5em;
}

cite {
    font-size: .75em;
    font-weight: 700;
    font-style: normal;
}

/* Utility */
.simple-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Nav */
#prev,
#next {
    position: absolute; /* 버튼을 각각 left right로 고정시켜버리면, 창 작아지면 참사 */
    top: 50%; /* 그래서 버튼 두개를 50%로 둘다 센터에 두고, 각각 마진으로 이동시킹 */
	left:50%;
    transform: translateY(-50%);
    z-index: 999999;
    display: inline-block;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

#prev.disabled, #next.disabled { display:none;}

#prev { background-image: url('/arrow-left-out.svg'); margin-left:-480px;}

#prev:hover { background-image: url('/arrow-left-over.svg'); }

#next {
    margin-left:380px; /* prev와 마진이 다른이유? 요소가 100px이니까(둘다 left기준하고 있으니 차야 나는게 당연) */
     background-image: url('/arrow-right-out.svg');
	
}

#next:hover { background-image: url('/arrow-right-over.svg'); }
